---
layout: default.en
title: Artbrut Serbia
---

<p>
  Art Brut Serbia
</p>
<p>
  Braće Vučković 5/6,
</p>
<p>
  11000 Belgrade
</p>
<br>
<p>
  Phone: +381 65 826 08 78
</p>
<p>
  E-mail: <a type="mail" href="mailto:artbrutserbia.belgrade@gmail.com">artbrutserbia.belgrade@gmail.com</a>
</p>
<br>
<p>
  Bank account: 160-0000000421928-45
</p>
<br>
<p>
  MB: 28136862
</p>
<p>
  PIB: 108419864
</p>
