<footer id="footer" class="bg-secondary text-white">
  <div class="max-w-screen-sm md:max-w-screen-md mx-auto px-8">
    <p class="text-sm py-2 text-right">
      Testimonials
    </p>
  </div>
</footer>
