<nav class="navbar navbar-expand-md bg-white">
  <div class="container-fluid justify-content-end">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link fw-bold" href="/about">O nama</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="/team">Tim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="/artists">Umetnici</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="/projects">Projekti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="/partners">Partneri</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="/press">Novosti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="/contact">Kontakt</a>
        </li>
        <li class="nav-item">
          <span id="toggle-lang" class="nav-link fw-bold" style="cursor: pointer">EN</span>
        </li>
      </ul>
    </div>
  </div>
</nav>
