---
layout: default
title: Artbrut Serbia
---

<h5>GORAN STOJČETOVIĆ, osnivač i predsednik udruženja Art Brut Serbia</h5>
<br>
<p>
  Goran Stojčetović (Skopje/ SFRJ, 1975) diplomirao slikarstvo na Fakultetu Umetnosti u Prištini
  1999. godine. Bavi se dubinskom asocijativnom umetnošću koju pronalazi u nesvesnim izrazima
  kroz crtež, sliku, fotografiju, performans i pozorište. Poslednjih nekoliko godina je posvećen
  društveno angažovanim akcijama u vidu Radionica dubinskog crteža kroz koje animira i
  estetizuje nesvesne sadržaje pojedinaca i grupa ljudi sa kojima se susreće prilikom gostovanja u
  različitim sredinama i okolnostima, u zemlji i inostranstvu. Od februara 2015. vodi Art brut
  studio VMA u Dnevnoj bolnici Klinike za psihijatriju Vojnomedicinske akademije u Beogradu,
  gde pored likovnih radionica, radi i na teorijskom istraživanju odnosa umetnosti i psihologije.
</p>
<br>
<p>
  Bio je učesnik mnogobrojnih tribina, grupnih i kolektivnih izložbi, od kojih treba izdvojiti:
  izložba i gostovanje na međunarodnom festival marginalne umetnosti Le Grand Baz’art (Gisors,
  Francuska, 2018); jedan je od organizatora i izlagača na velikoj grupnoj izložbi Turbulences
  dans les Balkans u Muzeju Halle Saint Pierre u Parizu (2018); učešće na međunarodnom festival
  Art Rooms Fair Roma kao umetnik po pozivu u sekciji video umetnosti (Italija, 2018);
  dvodnevno gostovanje u Gugging Atelier Art Brut Center (Austrija, 2019); izlaganje crteža na
  Outsider Art Fair Paris 2019; u okviru galerije Polysemie iz Marseja učešće na Dessin Fair
  2019 Paris, (2019); učešće na grupnoj izložbi 24 hours creating a new day- Choral Art Action,
  Melia White House (London, 2019); učešće na grupnoj izložbi Outsider ART Gallery
  (Rochemaure, Francuska, 2020); izlagač, autor i selector velike grupne izložbe srpske i hrvatske
  savremene marginalne umetnosti Hvatači snova u Muzeju suvremene umjetnosti u Zagrebu
  (2020), grupna izložba u galeriji Kalbass’Art (Clecy, Francuska, 2021); gostovanje u okviru
  projekta Susreti, Muzej marginalne umetnosti u Jagodini (2022); gostovanje u Art Brut Centru
  La S Grand Atelier Vielsalm u okviru projekta Turbulator organizovanog od strane kolektiva
  Matrijaršija iz Beograda (Belgija, 2022). Autor je koncepta, kao i jedan od glavnih organizatora,
  selector i voditelj projekta Art Brut Novi Sad- Evropska prestonica kulture 2022.
</p>
<br>
<p>
  Zaposlen kao scenograf u Narodnom pozorištu Priština u Gračanici. Dobitnik je nagrade Joakim
  Vujić za najbolju scenografiju na Festivalu profesionalnih pozorišta Srbije u Vranju 2020.
  Godine. Dobitnik je nagrade Posebno zapaženi na međunarodnom Trijenalu RAW INTUITIVE
  2022, Muzej naivne i marginalne umetnosti u Jagodini.
</p>
<br>
<h5>
  AMALIJA STOJSAVLJEVIĆ, potpredsednica udruženja Art Brut Serbia i direktorka programa
</h5>
<br>
<p>
  Amalija Stojsavljević (Pančevo/ Srbija, 1984) diplomirala je istoriju umetnosti 2010. na
  Filozofskom fakultetu u Beogradu, nakon čega je radila kao kustoskinja i bibliotekarka u Muzeju
  savremene umjetnosti u Banjoj Luci (Bosna i Hercegovina). Od 2011. do 2013. pohađala je
  World of Art- Školu za kustosku praksu i kritičko pisanje u Ljubljani, Slovenija. 2017. godine
  upisala je master program istorije umetnosti na Institutu za istoriju umetnosti u Beču. Tokom
  2019. i 2020. godine aktivno se posvetila učenju o projektnom menadžmentu i kulturnim
  fondovima u Austriji i inostranstvu, gde je stekla više certifikata iz tih oblasti.
</p>
<br>
<p>
  Među brojnim realizovanim projektima koji obuhvataju izložbe, tekstove, eseje, festivale,
  predavanja, radionice, posebno je ponosna na projekat Uterus Effects (2020), čiji je deo
  istoimena publikacija o umetnosti, materinstvu i bolestima reproduktivnog sistema, kao i
  publikacija On the Margin of the Austrian Mainstream Art Discourse: Art Brut and Disability
  Art during the Coronavirus Pandemic (2022).
</p>
<br>
<p>
  Poslednja dva velika projekta na kojima je radila su: Hand Job: Šta znamo o savremenom
  netradicionalnom vezu (Galerija Remont, Beograd, novembar 2022 i Galerija Janeza Puharja
  Stolp Škrlovec, Layerjeva hiša, Kranj, februar 2023) i Doing the Dirty Work zajedno sa
  kustoskinjom Anezkom Jaburkovom u okviru festivala Wienwoche (Semmelweis Klinik, Beč,
  septembar 2022). U okviru dodatnog programa festivala Wienwoche, organizovala je i diskusiju
  o Art Brutu pod nazivom BETWEEN HERMACITY AND COMMERCIALISATION: Whose Art
  Brut is it, anyway? (Depot, Beč, septembar 2022).
</p>
<br>
<p>
  Osnivačica je udruženja Kunstentropie u Beču (2018) i Pančevu (2021), čiji je cilj promocija
  feminističke i alternativne umetnosti i kulture.
</p>
<br>
<p>
  Više na: <a href="http://www.amalijastojsavljevic.com">www.amalijastojsavljevic.com</a>
</p>
