---
layout: default.en
title: Artbrut Serbia
---

<h1 class="text-center h1 mb-5">ASSOCIATION ART BRUT SERBIA</h1>
<blockquote class="blockquote fw-lighter fst-italic text-end">
  The only thing that will mean to people is art that has a healing effect on them.
  <br>
  No historical context in art will reach future empty souls...
</blockquote>
<p class="text-end">(Goran Stojčetović, founder of the association Art Brut Serbia)</p>
<br>
<p>
  Life marked by strong economic inflations and crises, wars, crime and political transition did not hinder
  the artist&#39;s need for self-consistent artistic expression and sources of creative motivation based on
  resistance to the new life and social circumstances in Serbia after the breakup of Yugoslavia. The idea of
  establishing the association Art Brut Serbia is precisely the product of such a time, which inevitably
  brings the problem of the destabilized psychological state of individuals and the entire society. Observed
  in the context of the history of art, similar social circumstances caused the emergence of the avant-garde
  artistic tendency art brut, whose founder Jean Dubuffet in 1945 drew attention to the raw (academic/
  culture-untainted art) of the mentally ill, that is, people from the margins. Given that the notion of
  normality in the modern world has been brought to absurdity and is used to disqualify any form of
  creativity of &quot;wayward&quot; people, the association Art Brut Serbia is working on re-examining that notion
  and through various activities is pointing out the importance of this kind of creativity in Serbia as well as
  abroad.
</p>
<br>
<p>
  Association Art Brut Serbia (ABS) was formally founded in February 2014 in Belgrade. From the very
  beginning, the goal of the association has been to discover new, &quot;invisible&quot; creators and talents and their
  inclusion in social and cultural-artistic life through exhibitions and other formats of presentations. On the
  other hand, artistic actions, open workshops in different places of Serbia and the region, with different
  people, in different circumstances, from children and youth with disabilities, children without parental
  care, psychiatric patients, refugees, prisoners to &quot;ordinary&quot; citizens oversaturated with official culture
  and
  art - a network of friendship and support is created, but also destabilizes the relationship between art and
  non-art, margins and institutions.
</p>
<br>
<p>
  During its almost ten-year existence, the association Art Brut Serbia, which has been marked by
  numerous exhibitions in the country and abroad, festivals, workshops, forums, etc., a special chapter in
  the work of the association is the establishment of the Art Brut Studio VMA in the Day Hospital of the
  Psychiatry Clinic of the Military Medical Academy (VMA) in Belgrade. Art brut studio VMA has been
  operating since the beginning of 2015 and is included in the regular program of treatment for patients of
  the Day Hospital and patients of the Club of treated psychoses of the Clinic for Psychiatry of the VMA.
  The fact that this is the first art brut studio in Serbia, but also in the Balkans, is significant.
</p>
<br>
<p>
  The association cooperates with numerous organizations of similar interests and activities. Thus, Art Brut
  Serbia is a permanent participant and collaborator in the program of the Alternative Cultural Center
  Matrijaršija in Belgrade (international festival of independent comics Novo Doba; independent art and
  publishing stand Fijuk sajam). Together with the Gallery Štab in Belgrade, the association founded the
  first Balkan Art Brut Salon (BABS) in 2016. With the Independent Art Association Remont in Belgrade,
  the association established the project of Goran Stojčetović&#39;s Depth Drawing in the form of monthly
  workshops with citizens, which the artist also implements at the Psychiatry Clinic of the Academy of
  Medical Sciences. In cooperation with the Al Saint Pierre Museum in Paris (Halle Saint Pierre), the Art
  Brut Serbia presented several of its members at the large exhibition of Balkan contemporary marginalized
  art Turbulences dans les Balkans (September 7, 2017 - July 31, 2018), where in addition to the exhibition
  also had the role of mediator and proponent of marginalized artists from the entire region, as well as the
  role of organizer of the additional program during this exhibition (two-day workshop of performative
  drawing by Goran Stojčetović with museum visitors, July 2018).
</p>
<br>
<p>
  It should be noted the regional cooperation with the Museum of Contemporary Art from Zagreb on the
  exhibition of Serbian and Croatian marginal artists Dreamcatchers (in the Museum of Contemporary Art,
  2020 and in the Museum of Naive and Marginal Art, Jagodina, 2022), as well as the special jury award
  for the artists Goran Stojčetović and Život Milanović (both are part of the Art Brut Serbia association) at
  the Triennial of the Museum of Marginal and Naive Art in Jagodina (2022). The last in the series is the
  ART BRUT project within the program Druga? Europe European Capital of Culture 2022 in Novi Sad,
  whose artistic director and creator was Goran Stojčetović. The project consisted of several different
  activities such as workshops, residencies, exhibitions (Archive of Vojvodina, KS Svilara, Šok Zadruga) in
  which, in addition to local artists, artists from Croatia, France, Estonia and Austria also participated.
</p>
<br>
<h5>
  Chronology of engagement activities:
</h5>
<br>
<p class="fw-bold">2022</p>
<ul>
  <li>ART BRUT / NOVI SAD - EUROPEAN CAPITAL OF CULTURE 2022, 5 workshops of depth
    drawing
  </li>
  <li>ABS / FACULTY OF CONTEMPORARY ARTS, Gallery of the FACULTY OF
    CONTEMPORARY ARTS
  </li>
  <li>Discussion WHOSE ART BRUT IS IT, ANYWAY? / WIENWOCHE, Vienna
  </li>
  <li>ART BRUT: ANOTHER? EUROPE / Novi Sad 22
  </li>
  <li>RESIDENTIAL ATELIER / ART BRUT: OTHER? EUROPE / Novi Sad - European Capital of
    Culture 2022
  </li>
  <li>DEPTH DRAWING WORKSHOPS / ART BRUT: OTHER? EUROPE NS22
  </li>
  <li>ART BRUT SERBIA COLLECTION / ART BRUT: OTHER? EUROPE NS22
  </li>
  <li>RAW INTUITIVE / TRIENALE Museum of Naïve and Marginal Art, Jagodina
  </li>
  <li>DREAM CATCHERS / Museum of Naïve and Marginal Art, Jagodina</li>
</ul>
<p class="fw-bold">2021</p>
<ul>
  <li>Two days of Depth drawing workshop and an international exhibition of works from the
    collection ART BRUT SERBIA - National treasure. SULUJ Gallery, Belgrade
  </li>
</ul>
<p class="fw-bold">2020</p>
<ul>
  <li>Goran Stojčetović&#39;s multimedia performance The die is cast
  </li>
  <li>Art brut studio VMA, 5 years of existence, Ulična galerija, Belgrade
  </li>
  <li>Dreamcatchers, Museum of Contemporary Art, Zagreb
  </li>
  <li>Depth drawing workshop with psychologists and psychiatrists from the Center for
    Psychodynamic Psychology, Niš
  </li>
  <li>Chilton Depth Drawing club, Belgrade</li>
</ul>
<p class="fw-bold">2019</p>
<ul>
  <li>Depth drawing workshop in Remont
  </li>
  <li>Depth drawing workshop in Sarajevo
  </li>
  <li>Depth drawing workshop at Reflektor Gallery in Užice
  </li>
  <li>Exhibition and workshop of depth drawing, Kobajagi yard, Arilje
  </li>
  <li>Deep expression workshops at the Museum of Contemporary Art Zagreb, Croatia
  </li>
  <li>Presentation and Depth drawing workshop, INTRONAUT Zagreb, Croatia
  </li>
  <li>Mural Fest Ferizaj, Ferizaj, Kosovo and Metohija
  </li>
  <li>DEATH WAITING ROOM, NUMBER 1389; NATIONAL DEPTH DRAWING SYMPOSIUM
    on the square of the village of Gotovuša, Šar planina Norms and Normals Exhibition - Goran
    Stojčetović and patients, VMA Gallery
  </li>
  <li>Bojan Đorđević - OMČA, A thousand deaths, Remont, Belgrade
  </li>
  <li>Art brut exhibition after Dubuffet, Polisémie gallery, Marseille
  </li>
  <li>In cooperation with Galerie Polisémie (Marseille, Paris) exhibition at the OUTSIDER ART FAIR
    PARIS 2018 and at the international contemporary drawing fair DDESSIN PARIS 19, Paris.
  </li>
  <li>Two-day workshop in Gugging, Austria
  </li>
  <li>Outsider Art Fair 2019 Paris
  </li>
  <li>Depth drawing club, Chilton Belgrade</li>
</ul>
<p class="fw-bold">2018</p>
<ul>
  <li>Red Dawn Is Still Not Dawning, SKC Kragujevac
  </li>
  <li>10th edition of Grand BAZ&#39;ART, International Festival of Marginal Art, France
  </li>
  <li>NOMAD Festival, exhibition, performance and workshops with artists and prisoners of Gevgelija
    Prison, North Macedonia
  </li>
  <li>Art colony and exhibition in Raška, Kejta Voznicki and Goran Stojčetović
  </li>
  <li>Depth drawing workshop in Remont, Belgrade</li>
</ul>
<p class="fw-bold">2017</p>
<ul>
  <li>Exhibition Art Brut Serbia/ Art brut studio VMA at Art Primitive Gallery in Sarcana, Italy
  </li>
  <li>20 years of managing the Remont Gallery (workshop and management of Good Habits)
  </li>
  <li>International Conference Media, Democracy, Populism, FDU (Faculty of Dramatic Arts)
  </li>
  <li>Group exhibition Turbulences dans les Balkans at the Halle Saint Pierre Museum in Paris
  </li>
  <li>Balkan Art Brut Salon / BABS 2017, Gallery Štab, Belgrade</li>
</ul>
<p class="fw-bold">2016</p>
<ul>
  <li>One-day presentation of the Art Brut studio of the VMA in Home of the Army, Belgrade
    (exhibition, lecture, and workshop)
  </li>
  <li>Art workshop with children and young people as part of the national holiday &quot;Pročka&quot; (White
    Carnival), Gotovuša village on Šar mountain, Kosovo
  </li>
  <li>Exhibition and workshop of Joškin Šiljan and Goran Stojčetović, North City Jazz and Blues
    Festival in Kosovska Mitrovica
  </li>
  <li>Exhibition by Goran Stojčetović and patients of the day hospital of the Clinic for Psychiatry and
    members of the Treated Psychoses Club of the Academy of Medical Sciences, within
    ACTOPOLIS - Individual Case Study, REMONT, Belgrade
  </li>
  <li>Art Brut Serbia exhibition, 1st BG NIGHT MARKET, Kalenić market, Belgrade
  </li>
  <li>First BALKAN ART BRUT SALON in Štab Gallery, Belgrade
  </li>
  <li>Art Brut Serbia exhibition, 21st International AIDS Conference, Youth of JAZAS Serbia,
    Durban, South Africa.
  </li>
  <li>Art workshop at the NOVO DOBA Festival, Matrijaršija, Belgrade
  </li>
  <li>Art Brut Serbia art workshop with patients of the day hospital of the VMA Psychiatry Clinic,
    Štab Gallery, Belgrade
  </li>
  <li>Art Brut Serbia exhibition, ART DRAGSTOR, Štab Gallery, Belgrade
  </li>
  <li>Solo exhibitions of Bojan Đorđević Omča and Goran Stojčetović at AKC METELKOVA,
    Gallery CHANNEL ZERO, Ljubljana, Slovenia
  </li>
</ul>
<p class="fw-bold">2015</p>
<ul>
  <li>Exhibition of artistic creativity during the NATO bombing, Gračanica House of Culture
  </li>
  <li>Exhibition From your mouth to God&#39;s ears, Club IZBA, Novi Sad
  </li>
  <li>Performance within the North City Jazz and Blues Festival in Kosovska Mitrovica
  </li>
  <li>Art workshop with children, citizens, and soldiers of KFOR as part of the NIGHT OF THE
    MUSEUM festival, City Museum in Kosovska Mitrovica
  </li>
  <li>Art Brut Serbia exhibition within the MIKSER FESTIVAL, ŠTAB Gallery, Belgrade
  </li>
  <li>Exhibition of artistic creativity during the NATO bombing, Niš Cultural Center
  </li>
  <li>Exhibition of artistic creativity during the NATO bombing, Grdelica House of Culture
  </li>
  <li>Art workshop at the NOVO DOBA Festival, Matrijaršija, Belgrade
  </li>
  <li>Exhibition of artistic creativity during the NATO bombing, Studentski Grad Culture Center,
    Belgrade
  </li>
</ul>
<p class="fw-bold">2014</p>
<ul>
  <li>Exhibition and performance Suicide on the Run, Čila Šimurda and Goran Stojčetović, Studio 11,
    Subotica
  </li>
  <li>Exhibition of drawings from the prison of Kristijan Golubović See you in the drawing,
    Alternative Cultural Center, Gračanica
  </li>
  <li>Art Brut Serbia exhibition, INEX gallery, Belgrade
  </li>
  <li>Performance of PsihoAneliza Mihel, INEX gallery, Belgrade
  </li>
  <li>Workshop with inmates of the Valjevo Correctional Institution within the Art Colony of Obnica
  </li>
  <li>Art Brut Serbia exhibition at the Novo doba Unaligned Comics Festival, Zemun
  </li>
  <li>Art Brut Serbia exhibition at the Pelican International Social Exchange club, Novi Sad</li>
</ul>
<p class="fw-bold">2013</p>
<ul>
  <li>The Prickly Rose workshop and performance with ghettoized refugee artists of Serbian and Roma
    nationality in the Alternative Cultural Center of Gračanica
  </li>
  <li>Art workshop with users of the Day Hospital at the Clinic for Psychiatry, VMA in Belgrade
  </li>
  <li>Workshop with inmates of the Valjevo Correctional Institution within the Art Colony of Obnica
  </li>
  <li>Art colony Art Brut Serbia and art collective Mubareć in Alternative Cultural Center Gračanica
  </li>
  <li>Clone engineering performance and collective exhibition Art Brut Serbia and Mubareć at the
    Cultural Center Rex, Belgrade
  </li>
  <li>Two-day program Art Brut Serbia Under Two Hats (poetry evenings, painting workshops,
    exhibition) in Art Džep Gallery, Skadarlija, Belgrade
  </li>
</ul>
