---
layout: default
title: Artbrut Serbia
---

<img class="w-50 mx-auto my-5 d-block" src="/assets/images/hvataci-snova-plakat.jpg" alt="hvataci-snova-plakat" />
<p>
  U Galeriji Muzeja naivne i marginalne umetnosti u Jagodini će od 18. novembra do 20.
  januara biti otvorena izložba Hvatači snova. Muzej suvremene umjetnosti iz Zagreba u
  saradnji sa asocijacijom Art Brut Serbia, nakon Zagrebačke prezentacije 2020. i našoj publici
  će predstaviti izbor autentičnih dela dvadeset autora nekonvencionalne umetničke scene
  Srbije i Hrvatske.
</p>
<br>
<p>
  Izložbu će u petak, 18. novembra u 14 sati otvoriti glumica Katarina Žutić, uz prisustvo
  visokih predstavnika Ministarstva kulture Republike Srbije i Hrvatske ambasade. Autorka
  izložbe je Daniela Bilopavlović Bedenik, voditeljka Zbirke marginalne umjetnosti MSU
  Zagreb, koja je koncept izložbe kreirala zajedno sa Goranom Stojčetovićem iz asocijacije Art
  Brut Serbia.
</p>
<br>
<p>
  Izložba „Hvatači snova“ obuhvata presek savremene umetničke marginalne – autsajderske i
  art brut scene iz Hrvatske i Srbije i prvi je takav projekat i početak saradnje na tom polju
  zemalja Balkana i istočne Evrope. Nastala je u saradnji s Udruženjem Art Brut Serbia (ABS)
  koje se od osnivanja 2014. godine bavi otkrivanjem novih, “nevidljivih” stvaraoca i talenata,
  te njihovim uključivanjem u društveni i kulturno-umetnički život. Na izložbi su predstavljeni
  marginalni umetnici od kojih neki izlažu prvi put i koji su, uprkos vremenu u kome žive i
  stvaraju, uspeli da pobegnu od ustaljenih umetničkih okvira i zadrže osoben likovni jezik.
</p>
<br>
<p>
  Svi srpski umetnici na izložbi članovi su Udruženja Art Brut Serbia koje je pre osam godina
  pokrenuo Goran Stojčetović. I sam pripadnik marginalne scene, Stojčetović je jedan od onih
  školovanih umetnika koji je svoj likovni izraz pronašao u art brutu. Tu su još radovi Jasne
  Damnjanović, Bojana Đorđevića Omče, Marjana Đarmatija, Katie Woznicki, Dragana
  Stanimirovića i Danila Spasovića Denkea, koji su srpskoj publici poznati s underground
  scene i grupnih izložbi ABS-a. Joškin Šiljan jedan je od retkih umjetnika koji po izrazu
  pripada autsajderima, a stekao je reputaciju na umetničkoj sceni. Radovan Popović poznat je
  kao strip crtač i inicijator, te osnivač nekoliko umetničkih festivala i platformi.
</p>
<br>
<p>
  Na izložbi je zastupljeno i 11 hrvatskih autsajdera, od kojih su neki već izlagali u MSU
  Zagreb - Krešimir Hlup, Božidar Štef Golub, Gojislav Kalapač Goja, Margareta Vidmar i
  Exos Lucius Ido, Simon Petkovich i Dubravko Sertić. Darko Brajković je u MSU izveo
  performans „Bit(i) skulptura“. Petar Brajković je mnogo izlagao u Nemačkoj, a u Hrvatskoj
  bio nepoznat. Elvis Berton nije nepoznato ime na sceni, ali sada prvi put neke njegove radove
  sagledavamo u kontekstu outsider arta. Ivan Švalj je nov, pa će njegov alter-ego, Lutka
  Zvonka, i dalje biti zastupljen na izložbama.
</p>
