---
layout: default
title: Artbrut Serbia
---

<h1 class="text-center mb-5">UDRUŽENJE ART BRUT SERBIA</h1>
<blockquote class="blockquote fw-lighter fst-italic text-end">
  Ljudima će jedino značiti umetnost koja ima lekovito dejstvo po njih.
  <br>
  Nikakav istorijski kontekst u umetnosti neće dopreti do budućih praznih duša...
</blockquote>
<p class="text-end">(Goran Stojčetović, osnivač udruženja Art Brut Serbia)</p>
<br>
<p>
  Život obeležen jakim ekonomskim inflacijama i krizama, ratovima, kriminalom i političkom
  tranzicijom nije omela potrebu umetnika za sebi-doslednim umetničkim izrazom i izvorima
  stvaralačke motivacije bazirane na otporu prema novonastalim životnim i društvenim
  okolnostima u Srbiji nakon raspada Jugoslavije. Ideja o osnivanju udruženja <span
    class="fst-italic">Art Brut Serbia</span>
  je upravo produkt takvog vremena koje neminovno nosi i problem destabilizovanog psihičkog
  stanja pojedinaca i čitavog društva. Posmatrano u kontekstu istorije umetnosti, slične društvene
  okolnosti prouzrokovale su nastanak avangardne umetničke tendencije <span class="fst-italic">art brut</span>, čiji
  osnivač Žan
  Dibifi (Jean Dubuffet) 1945.godine skreće pažnju na <span class="fst-italic">sirovu</span> (akademski/kulturom
  neukaljanu
  umetnost) psihičkih bolesnika, odnosno ljudi sa margine. S obzirom na to da je pojam
  normalnosti u savremenom svetu doveden do apsurda i koristi se za diskvalifikaciju svakog
  oblika stvaralaštva &quot;svojeglavih&quot; ljudi, udruženje <span class="fst-italic">Art Brut Serbia</span> upravo
  radi na preispitivanju
  tog pojma i ukazuje putem različitih aktivnosti na važnost ovakvog vida stvaralaštva kako u
  Srbiji tako i u inostranstvu.
</p>
<br>
<p>
  Udruženje <span class="fst-italic">Art Brut Serbia</span> (ABS) je formalno osnovano februara 2014. godine u Beogradu.
  Već
  od samog početka cilj udruženja jeste otkrivanju novih, &quot;nevidljivih&quot; stvaraoca i talenata i
  njihovo uključivanje u društveni i kulturno-umetnički život putem izložbi i drugih izlagačkih
  formata. Sa druge strane, umetničkim akcijama, otvorenim radionicama u različitim mestima
  Srbije i regiona, sa različitim ljudima, u različitim okolnostima, od dece i omladine ometene u
  razvoju, dece bez roditeljskog staranja, psihijatrijskih bolesnika, izbeglica, zatvorenika do
  &quot;običnih&quot; građana prezasićenih zvaničnom kulturom i umetnošću- stvara se mreža prijateljstva i
  podrške, ali i destabilizuje odnos umetnosti i neumetnosti, margine i institucije.
</p>
<br>
<p>
  Tokom skoro desetogodišnjeg trajanja udruženje <span class="fst-italic">Art Brut Serbia</span>, koje je obeleženo
  mnogobrojnim izložbama u zemlji i inostranstvu, festivalima, radionicama, tribinama itd.,
  posebno poglavlje u radu udruženja predstavlja osnivanje Art brut studija VMA u Dnevnoj
  bolnici Klinike za psihijatriju Vojnomedicinske akademije (VMA) u Beogradu. Art brut studio
  VMA radi od početka 2015. godine i uključen je u redovni program lečenja pacijenata Dnevne
  bolnice i pacijenata Kluba lečenih psihoza Klinike za psihijatriju VMA. Značajna je činjenica da
  je ovo prvi art brut studio u Srbiji, ali i na Balkanu.
</p>
<br>
<p>
  Udruženje sarađuje sa brojnim organizacijama sličnih interesa i aktivnosti. Tako je <span class="fst-italic">Art Brut
    Serbia</span> stalni učesnik i saradnik u programu Alternativnog kulturnog centra <span class="fst-italic">Matrijaršija</span>
  u Beogradu (međunarodni festival nezavisnog stripa <span class="fst-italic">Novo Doba</span>; nezavisni štand
  umetnosti i
  izdavaštva <span class="fst-italic">Fijuk sajam</span>). Sa Galerijom <span class="fst-italic">Štab</span> u Beogradu,
  Udruženje je osnovalo prvi <span class="fst-italic">Balkanski Art Brut Salon (BABS)</span>, 2016. godine. Sa
  Nezavisnom
  umetničkom asocijacijom <span class="fst-italic">Remont</span> u Beogradu, Udruženje je ustanovilo projekat
  <span class="fst-italic">Dubinskog crteža</span> Gorana Stojčetovića u vidu
  mesečnih radionica sa građanima, koje umetnik inače primenjuje i na Klinici za psihijatriju
  VMA. U saradnji sa Muzejom Al Sen Pjer u Parizu (Halle Saint Pierre), Udruženje Art Brut
  Serbia je predstavilo nekoliko svojih članova na velikoj izložbi balkanske savremene
  marginalizovane umetnosti <span class="fst-italic">Turbulences dans les Balkans</span> (7.9.2017 - 31.7.2018.), gde je
  pored
  izložbene imalo i ulogu medijatora i predlagača marginalizovanih umetnika iz čitavog regiona
  kao i ulogu organizatora propratnog programa u toku trajanja ove izložbe (dvodnevna radionica
  performativnog crteža Gorana Stojčetovića sa posetiocima muzeja, jula 2018). Treba istaći
  regionalnu saradnju sa Muzejem suvremene umjetnosti iz Zagreba na izložbi srpskih i hrvatskih
  marginalnih umetnika <span class="fst-italic">Hvatači snova</span> (u Muzeju suvremene umjetnosti, 2020 i u Muzeju
  naivne i
  marginalne umetnosti, Jagodina, 2022), kao i specijalnu nagradu žirija za umetnike Gorana
  Stojčetovića i Životu Milanovića (obojica su deo udruženja <span class="fst-italic">Art Brut Serbia</span>) na
  Trijenalu Muzeja
  marginalne i naivne umetnosti u Jagodini (2022). Poslednji u nizu jeste projekat <span
    class="fst-italic">ART BRUT</span> u
  sklopu programa <span class="fst-italic">Druga? Evropa</span> Evropska prestonica kulture 2022 u Novom Sadu, čiji je
  umetnički direktor i idejni tvorac bio Goran Stojčetović. Projekat je činio niz različitih aktivnosti
  poput radionica, rezidencije, izložbi (Arhiv Vojvodine, KS Svilara, Šok Zadruga) na kojima su
  pored domaćih umetnika učestvovali i umetnici iz Hrvatske, Francuske, Estonije i Austrije.
</p>
<br>
<h5>
  Hronologija aktivnosti udruženja:
</h5>
<br>
<p class="fw-bold">2022</p>
<ul>
  <li>
    ART BRUT / NOVI SAD - EVROPSKA PRESTONICA KULTURE 2022, 5 radionica
    dubinskog crteža
  </li>
  <li>
    ABS / FAKULTET SAVREMENIH UMETNOSTI, Galerija FAKULTETA SAVREMENIH
    UMETNOSTI
  </li>
  <li>
    Diskusija WHOSE ART BRUT IS IT, ANYWAY? / WIENWOCHE, Beč
  </li>
  <li>
    ART BRUT: DRUGA?EVROPA / NOVI SAD 22
  </li>
  <li>
    REZIDENCIJALNI ATELJE / ART BRUT: DRUGA?EVROPA / Novi Sad-Evropska prestonica
    kulture 2022
  </li>
  <li>
    RADIONICE DUBINSKOG CRTEŽA / ART BRUT: DRUGA?EVROPA NS22
  </li>
  <li>
    ART BRUT SERBIA KOLEKCIJA / ART BRUT:DRUGA?EVROPA NS22
  </li>
  <li>
    RAW INTUITIVE / TRIJENALE MNMU
  </li>
  <li>
    HVATAČI SNOVA / MNMU, Jagodina
  </li>
</ul>
<p class="fw-bold">2021</p>
<ul>
  <li>
    Dve radionice dubinskog crteža i Međunarodna izložba radova iz kolekcije ART BRUT
    SERBIA- <span class="fst-italic">Narodno blago</span>. Galerija SULUJ, Beograd
  </li>
</ul>
<p class="fw-bold">2020</p>
<ul>
  <li>
    Multimedijalni performans Gorana Stojčetovića <span class="fst-italic">Kocka je bačena</span>
  </li>
  <li>
    Art brut studio VMA, 5 godina postojanja, Ulična galerija, Beograd
  </li>
  <li>
    Hvatači snova, Muzej suvremene umjetnosti, Zagreb
  </li>
  <li>
    Radionica dubinskog crteža sa psiholozima i psihijatrima Centra za psihodinamsku psihologiju,
    Niš
  </li>
  <li>
    Klub dubinskog crteža Chiltone, Beograd
  </li>
</ul>
<p class="fw-bold">2019</p>
<ul>
  <li>
    Radionica dubinskog crteža u Remontu
  </li>
  <li>
    Radionica dubinskog crteža u Sarajevu
  </li>
  <li>Radionica Dubinskog crteža u Galeriji Reflektor u Užicu</li>
  <li> Izložba i radionica dubinskog crteža, Kobajagi dvorište, Arilje</li>
  <li> Radionice dubinske ekspresije u Muzej suvremene umjetnosti Zagreb, Hrvatska</li>
  <li> Prezentacija i radionica dubinskog crteža, INTRONAUT Zagreb, Hrvatska</li>
  <li> Mural Fest Ferizaj, Uroševac, Kosovo i Metohija</li>
  <li> ČEKAONICA SMRTI, BROJ 1389; NARODNI SIMPOZIJUM DUBINSKOG CRTEŽA na trgu
    sela Gotovuša, Šar planina Izložba Norma i Normala- Goran Stojčetović i pacijenti, Galerija
    VMA
  </li>
  <li> Bojan Đorđević - OMČA, <span class="fst-italic">Hiljadu smrti</span>&quot;, Remont</li>
  <li> Izložba <span class="fst-italic">Art brut posle Dibifea</span>, galerija <span
      class="fst-italic">Polisemie</span>, Marsej
  </li>
  <li> U saradnji sa Galerijom <span class="fst-italic">Polisemie</span> (Marsej, Pariz) izlaže na međunarodnom sajmu
    <span class="fst-italic">OUTSIDER ART FAIR PARIS 2018</span> i na međunarodnom sajmu savremenog crteža <span
      class="fst-italic">DDESSIN PARIS 19</span>, Pariz.
  </li>
  <li> Dvodnevna radionica u Gugging-u, Austrija</li>
  <li> Outsider Art Fair 2019 Paris</li>
  <li> Klub dubinskog crteža, Chiltone Beograd</li>
</ul>
<p class="fw-bold">2018</p>
<ul>
  <li><span class="fst-italic">Još ne sviće rujna zora</span>, SKC Kragujevac
  </li>
  <li>10. izdanje <span class="fst-italic">Grand BAZ&#39;ART-a</span>, Međunarodnog festivala marginalne umetnosti,
    Francuska
  </li>
  <li>NOMAD Festival,izložba, performans i radionice sa umetnicima i zatvorenicima KPZ Gevgelija,
    Severna Makedonija
  </li>
  <li>Likovna kolonija i izložba u Raškoj, Kejti Voznicki i Goran Stojčetović
  </li>
  <li>Radionica dubinskog crteža u Remontu</li>
</ul>
<p class="fw-bold">2017</p>
<ul>
  <li>Izložba Art Brut Serbia/ Art brut studio VMA u Art Primitive Gallery u Sarcani, Italija
  </li>
  <li><span class="fst-italic">20 godina modrovanja</span> Galerija Remont (radionica i vođenje Dobre navike)
  </li>
  <li>Međunarodna konferencija <span class="fst-italic">Mediji, demokratija, populizam</span>, FDU (Fakultet Dramskih
    Umetnosti)

  </li>
  <li>Grupna izložba &quot;Turbulences dans les Balkans&quot; u muzeju Halle Saint Pierre u Parizu
  </li>
  <li>Balkanski Art Brut Salon / BABS 2017, Štab</li>
</ul>
<p class="fw-bold">2016</p>
<ul>
  <li>Jednodnevna prezentacija Art brut studija VMA u Domu Vojske, Beograd (izložba, predavanje i
    radionica)
  </li>
  <li>Likovna radionica sa decom i mladima u okviru narodnog praznika &quot;Pročka&quot; (Bele poklade), selo
    Gotovuša na Šar planini, Kosovo
  </li>
  <li>Izložba i radionica Joškina Šiljana i Gorana Stojčetovića, North City Jazz and Blues Festival u
    Kosovskoj Mitrovici
  </li>
  <li>Izložba Gorana Stojčetovića i pacijenata Dnevne bolnice Klinike za psihijatriju i članova Kluba
    lečenih psihoza VMA, u okviru ACTOPOLIS - Studija individualnog slučaja, REMONT,
    Beograd
  </li>
  <li>Izložba Art Brut Serbia, 1. BG NOĆNI MARKET, Kalenić pijaca, Beograd
  </li>
  <li>Prvi BALKANSKI ART BRUT SALON u Galeriji Štab, Beograd
  </li>
  <li>Izložba Art Brut Serbia, 21. Međunarodna konferencija o AIDS-u, Omladina JAZAS-a Srbije,
    Durban, Južna Afrika.
  </li>
  <li>Likovna radionica na Festivalu NOVO DOBA, Matrijaršija
  </li>
  <li>Likovna radionica Art Brut Serbia sa pacijentima Dnevne bolnice Klinike za psihijatriju VMA,
    Galerija Štab, Beograd
  </li>
  <li>Izložba Art Brut Serbia, ART DRAGSTOR, Galerija Štab, Beograd
  </li>
  <li>Samostalne izložbe Bojana Đorđevića Omče i Gorana Stojčetovića u AKC METELKOVA,
    Galerija CHANNEL ZERO, Ljubljana, Slovenija
  </li>
</ul>
<p class="fw-bold">2015</p>
<ul>
  <li>Izložba likovnog stvaralaštva u vreme NATO bombardovanja, Dom kulture Gračanica
  </li>
  <li>Izložba <span class="fst-italic">Iz vaših usta u božje uši</span> Klub IZBA, Novi Sad
  </li>
  <li>Performans u okviru North City Jazz and Blues Festival u Kosovskoj Mitrovici
  </li>
  <li>Likovna radionica sa decom, građanima i vojnicima KFOR-a u okviru festivala NOĆ MUZEJA,
    Gradski Muzej u Kosovskoj Mitrovici
  </li>
  <li>Izložba Art Brut Serbia u okviru MIKSER FESTIVAL-a, Galerija ŠTAB, Beograd
  </li>
  <li>Izložba likovnog stvaralaštva u vreme NATO bombardovanja, Niški kulturni centar
  </li>
  <li>Izložba likovnog stvaralaštva u vreme NATO bombardovanja, Dom kulture Grdelica
  </li>
  <li>Likovna radionica na Festivalu NOVO DOBA, Matrijaršija, Beograd
  </li>
  <li>Izložba likovnog stvaralaštva u vreme NATO bombardovanja, Dom kulture Studentski Grad,
    Beograd
  </li>
</ul>
<p class="fw-bold">2014</p>
<ul>
  <li>Izložba i performans <span class="fst-italic">Samoubica u bekstvu</span>, Čila Šimurda i Goran Stojčetović, Studio
    11, Subotica
  </li>
  <li>Izložba crteža iz zatvora Kristijana Golubovića <span class="fst-italic">Vidimo se u crtežu</span>, Alternativni
    kulturni centar,
    Gračanica
  </li>
  <li>Izložba Art Brut Serbia, INEX galerija, Beograd
  </li>
  <li>Performans <span class="fst-italic">PsihoAnelize Mihel</span>, INEX galerija, Beograd
  </li>
  <li>Radionica sa štićenicima Kazneno popravnog zavoda Valjevo u okviru Likovne kolonije Obnica
  </li>
  <li>Izložba Art Brut Serbia na Festivalu nesvrstanog stripa <span class="fst-italic">Novo doba</span>, Zemun
  </li>
  <li>Izložba Art Brut Serbia u klubu <span class="fst-italic">Pelican International Social Exchange</span>, Novi Sad
  </li>
</ul>
<p class="fw-bold">2013</p>
<ul>
  <li>Radionica i performans <span class="fst-italic">Bodljikava ružica</span> sa getoiziranim izbeglim umetnicima
    srpske i romske
    nacionalnosti u Alternativnom kulturnom centru Gračanica
  </li>
  <li>Likovna radionica sa korisnicima Dnevne bolnice pri Klinici za psihijatriju, VMA u Beogradu
  </li>
  <li>Radionica sa štićenicima Kazneno popravnog zavoda Valjevo u okviru Likovne kolonije Obnica
  </li>
  <li>Likovna kolonija <span class="fst-italic">Art Brut Serbia</span> i umetnički kolektiv <span class="fst-italic">Mubareć</span>
    u Alternativnom kulturnom
    centru Gračanica
  </li>
  <li>Performans <span class="fst-italic">Klon inženjering</span> i izložba <span class="fst-italic">Art Brut Serbia i Mubareć kolektiv</span>
    u Kulturnom centru
    Rex, Beograd
  </li>
  <li>Dvodnevni progam Art Brut Serbia <span class="fst-italic">Kod dva šešira</span> (pesničke večeri, slikarske
    radionice, izložba)
    u Galeriji Art Džep, Skadarlija, Beograd
  </li>
</ul>
