---
layout: default.en
title: Artbrut Serbia
---


<img class="w-50 mx-auto my-5 d-block" src="/assets/images/hvataci-snova-plakat.jpg" alt="hvataci-snova-plakat" />
<p>
  In the Gallery of the Museum of Naive and Marginal Art in Jagodina, the exhibition „Dream
  Catchers“ will be open from November 18 to January 20. The Museum of Contemporary Art
  from Zagreb in cooperation with the association Art Brut Serbia, after the Zagreb
  presentation in 2020, will also present to our audience a selection of authentic works by
  twenty authors of the unconventional art scene of Serbia and Croatia.
</p>
<br>
<p>
  Actress Katarina Žutić will open the exhibition on Friday, November 18 at 2 p.m., in the
  presence of high-ranking representatives of the Ministry of Culture of the Republic of Serbia
  and the Croatian Embassy. The author of the exhibition is Daniela Bilopavlović Bedenik,
  head of the Collection of Marginal Art of MSU Zagreb, who created the concept of the
  exhibition together with Goran Stojčetović from the association Art Brut Serbia.
</p>
<br>
<p>
  The exhibition &quot;Dream Catchers&quot; includes a cross-section of the contemporary artistic
  marginal - outsider and art brut scene from Croatia and Serbia and is the first such project and
  the beginning of cooperation in this field in the countries of the Balkans and Eastern Europe.
  It was created in cooperation with the Association Art Brut Serbia (ABS), which, since its
  establishment in 2014, has been involved in discovering new, &quot;invisible&quot; creators and talents,
  and their inclusion in social and cultural-artistic life. The exhibition presents marginal artists,
  some of whom are exhibiting for the first time and who, despite the time in which they live
  and create, managed to escape from established artistic frameworks and retain a distinctive
  artistic language.
</p>
<br>
<p>
  All Serbian artists at the exhibition are members of the Art Brut Serbia Association, which
  was started eight years ago by Goran Stojčetović. A member of the marginal scene himself,
  Stojčetović is one of those trained artists who found his artistic expression in art brut. There
  are also works by Jasna Damnjanović, Bojan Đorđević Omča, Marjan Đarmati, Katie
  Woznicki, Dragan Stanimirović and Danilo Spasović Denke, who are known to Serbian
  audiences from the underground scene and group exhibitions of ABS. Joškin Šiljan is one of
  the few artists whose expression belongs to outsiders, and he has gained a reputation on the
  art scene. Radovan Popović is known as a cartoonist and initiator, and the founder of several
  art festivals and platforms.
</p>
<br>
<p>
  The exhibition also features 11 Croatian outsiders, some of whom have already exhibited at
  MSU Zagreb - Krešimir Hlup, Božidar Štef Golub, Gojislav Kalapač Goja, Margareta
  Vidmar and Exos Lucius Ido, Simon Petkovich and Dubravko Sertić. Darko Brajković
  performed the performance &quot;Bit(i) Sculpture&quot; at MSU. Petar Brajković exhibited a lot in
  Germany, but was unknown in Croatia. Elvis Berton is not an unknown name on the stage,
  but now for the first time we are looking at some of his works in the context of outsider art.
  Ivan Švalj is new, so his alter-ego, Lutka Zvonka, will continue to be represented at
  exhibitions.
</p>

