---
layout: default.en
title: Artbrut Serbia
---

<h5>GORAN STOJČETOVIĆ, founder and president of the Art Brut Serbia association</h5>
<br>
<p>
  Goran Stojčetović (Skopje/ SFRY, 1975) graduated in painting from the Faculty of Arts in
  Pristina in 1999. He engages with deep associative art that he finds in unconscious expressions
  convayed through drawing, painting, photography, performance, and theatre. For the last few
  years, he has been dedicated to socially engaged actions in the form of Depth Drawing
  Workshops, through which he animates and aestheticizes the unconscious contents of individuals
  and groups of people he meets in various context and circumstances in Serbia and abroad. Since
  February 2015, he has been running the Art Brut studio VMA in the Day Hospital at the
  Psychiatry Clinic of the Military Medical Academy in Belgrade, where, in addition to art
  workshops, he also works on theoretical research on the relationship between art and
  psychology.
</p>
<br>
<p>
  He was a participant in numerous forums, group and collective exhibitions, of which the
  following should be highlighted: participating in the exhibition and guest appearance at the
  international festival of marginal art Le Grand Baz&#39;art (Gisors, France, 2018); one of the
  organizers and exhibitors at the large group exhibition Turbulences dans les Balkans at the Halle
  Saint Pierre Museum in Paris (2018); participation in the international Festival Art Rooms Fair
  Roma as an invited artist in the video art section (Italy, 2018); two-day visit to Gugging Atelier at
  Gugging Art Brut Center (Austria, 2019); participating in the exhibition of drawings at the
  Outsider Art Fair Paris 2019; as part of the Polysemie gallery from Marseille, participation in
  the Dessin Fair 2019 Paris, (2019); participation in the group exhibition 24 hours creating a new
  day- Choral Art Action, Melia White House (London, 2019); participation in the group
  exhibition Outsider ART Gallery (Rochemaure, France, 2020); exhibitor, author and selector of
  the large group exhibition of Serbian and Croatian contemporary marginal art Dreamcatchers at
  the Museum of Contemporary Art in Zagreb (2020), group exhibition at the Kalbass&#39;Art gallery
  (Clecy, France, 2021); guest appearance as part of the Encounters project, Museum of Marginal
  Art in Jagodina (2022); guest appearance at the Art Brut Center La S Grand Atelier Vielsalm as
  part of the Turbulator project organized by the Matrijaršija collective from Belgrade (Belgium,
  2022). He is the author of the concept, as well as one of the main organizers, selector, and
  manager of the Art Brut Novi Sad - European Capital of Culture 2022 project.
</p>
<br>
<p>
  Employed as a scenographer at the National Theater of Pristina in Gračanica. He won the Joakim
  Vujić award for the best set design at the Festival of Professional Theaters of Serbia in Vranje in
  2020. He is the winner of the Specially Noticed Award at the RAW INTUITIVE 2022
  International Triennial, Museum of Naive and Marginal Art in Jagodina.
</p>
<br>
<h5>
  AMALIJA STOJSAVLJEVIĆ, vice president of the Art Brut Serbia association and program director
</h5>
<br>
<p>
  Amalija Stojsavljević (Pančevo/ Serbia, 1984) graduated in 2010 in Belgrade with a degree in
  history of art, after which she worked as a curator and librarian at the Museum of Contemporary
  Art in Banja Luka (Bosnia and Herzegovina). From 2011 to 2013, she attended World of Art-
  School for Curatorial Practice and Critical Writing in Ljubljana, Slovenia. In 2017, she enrolled
  in the Master´s Program in Art History at the Institute of History of Art in Vienna. During 2019
  and 2020, she actively devoted herself to learning about project management and cultural funds
  in Austria and abroad, where she obtained several certificates in those fields.
</p>
<br>
<p>
  Among the numerous realized projects that include exhibitions, reviews, essays, festivals,
  lectures, workshops, she is especially proud of the project Uterus Effects (2020), whose part is
  the homonymous publication about art, maternity, and reproductive system disease as well as the
  publication On the Margin of the Austrian Mainstream Art Discourse: Art Brut and Disability
  Art during the Coronavirus Pandemic (2022).
</p>
<br>
<p>
  The last two major projects she worked on are: Hand Job: What we know about contemporary
  non-traditional embroidery (Gallery Remont, Belgrade, November 2022, and Gallery Janeza
  Puharja Stolp Škrlovec, Layerjeva hiša, Kranj, February 2023) and Doing the Dirty Work
  together with Anezka Jaburkova within the festival Wienwoche (Semmelweis Klinik, Vienna,
  September 2022). As part of the additional program of the festival Wienwoche, she has also
  organized a discussion about Art Brut named BETWEEN HERMACITY AND
  COMMERCIALISATION: Whose Art Brut is it, anyway? (Depot, Vienna, September 2022).
</p>
<br>
<p>
  She is the founder of the association Kunstentropie in Vienna (2018) and Pančevo (2021), whose
  goal is to promote feminist and alternative art and culture.
</p>
<br>
<p>
  More on: <a href="http://www.amalijastojsavljevic.com">www.amalijastojsavljevic.com</a>
</p>
