---
layout: default
title: Artbrut Serbia
---

<div class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/images/hvataci-snova-plakat.jpg" class="d-block w-50" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/hvataci-za-sajt.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/hvataci-za-sajt-1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/hvataci-za-sajt-2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/hvataci-za-sajt-3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/hvataci-za-sajt-4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/hvataci-za-sajt-5.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/hvataci-za-sajt-6.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/hvataci-za-sajt-7.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/hvataci-za-sajt-8.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>
