---
layout: base
---

<a href="/en"><img class="logo-img" src="/assets/images/artbrut-logo.jpg" alt="Artbrut Serbia logo" /></a>
<main class="content-wrap container">

  {{ content }}

</main>

{% include "footer.en.liquid" %}
