---
layout: base
---

<a href="/en">
  <img class="d-block img-fluid" src="/assets/images/Art-Brut-Serbia-Logo.png" alt="Artbrut Serbia logo" />
</a>
<main class="content-wrap container">

  {{ content }}

</main>

{% include "footer.en.liquid" %}
